@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --font-PT: 'PT Serif', serif;
    --font-Poppins: 'Poppins', sans-serif;
    --font-Poppins-regular: 400;
    --font-Poppins-Semibols: 600;
    --font-PT-regular: 400;
    --font-PT-bold: 700;
}

body {
    font-family: var(--font-Poppins);
    background-color: #fff;
    height: 100%;
    min-height: 100vh;
    width: auto;
    position: relative;
}

h1 {
    color: #000;
    font-size: 36px;
    font-family: var(--font-PT);
    font-weight: var(--font-PT-bold);
    line-height: normal;
    letter-spacing: -1.62px;
}

h3 {
    color: #000;
    font-size: 18px;
    font-family: var(--font-Poppins);
    font-weight: var(--font-Poppins-Semibols);
    line-height: normal;
    text-transform: uppercase;
}

p {
    color: #000;
    font-size: 14px;
    font-family: var(--font-Poppins);
    font-weight: var(--font-Poppins-regular);
    line-height: normal;
    text-align: left;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
}

.person {
    position: relative;
    padding-top: 60px;
    padding-left: 7%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 280px;
}

.person p {
    position: absolute;
    z-index: 1;
    right: -30px;
    color: #000;
    font-size: 10px;
    font-family: var(--font-PT);
    font-weight: var(--font-PT-regular);
    line-height: normal;
    transform-origin: left;
    text-transform: uppercase;
    text-align: left;
    display: flex;
    width: 130px;
    transform: rotate(90deg);
    flex-direction: column;
}

.person img {
    aspect-ratio: 476/694;
    width: 140px;
}

#footer {
    width: 100%;
    height: 6vh;
    color: #bdbcbc;
    text-align: center;
    font-size: 14px;
    font-family: var(--font-Poppins);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    margin-top: 20px;
}

#footer a {
    text-decoration: none;
    color: #8b8b8b;
}

@media (max-width: 700px) {
    .container {
        justify-content: center;
        align-items: center;
    }

    .person {
        padding: 0;
        margin-bottom: 30px;
    }

    .person p {
        position: unset;
        transform: none;
        text-align: center;
        width: auto;
        margin-top: 10px;
        right: unset;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}